* {
  padding:0;
  margin:0;
  box-sizing:border-box;
}
body{
  background-color: rgb(235, 207, 207);
}
#wrapper {
  max-width:1100px;
  margin: 20px auto;
}
main ul {
  list-style-type: none;
}
main {
  float: left;
  width: 63%;
}
aside{
  float: right;
  width: 34%;
  background: #fff; 
}
footer {
  clear: both;
  display: inline-block;
  position: fixed;
  bottom: 0;
  left: 0;
}
footer ul {
  text-align: center;
}
footer li {
  float: left;
  margin-right: 30px;
}
hr{
  display:block;
  margin-bottom: 20px;
}
.blurb{
  font-style: italic;
  font-size: .9em;
}
.center{
  display: block;
  margin: 0 auto 20px auto;
}